
<div class="header-container">
  <div class="justify-between items-center flex">
    <div class="logo">
      <img src="assets/logo/logo.png" alt="" class="w-1/4 h-auto cursor-pointer" (click)="goHome()">
    </div>
    <input type="search" class="search-bar" placeholder="Search...">
    <div class="relative">
      <svg class="w-10 h-10 text-gray-700" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2 9m5-9v9m4-9v9m4-9l2 9M5 5h14l1.38 6.38a2 2 0 01-1.97 2.62H6.59a2 2 0 01-1.97-2.62L5 5z"></path>
      </svg>
      <span class="absolute top-0 right-0 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-red-100 bg-red-600 rounded-full">3</span>
  </div>
  <div class="relative w-10 h-10">
    <a routerLink="/home/cart">
      <i class="fa-solid fa-cart-shopping text-4xl"></i>
      <span class="absolute top-0 right-0 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-red-100 bg-red-600 rounded-full">{{itemNum}}</span>
    </a>
  </div>
  <div>
    <!-- <app-login-status></app-login-status> -->
    <!-- <app-okta-login></app-okta-login> -->
  </div>
    <div class="login-signup">
      <button type="button" (click)="buttonClick()">Log in</button>
      <button type="button">Sign up</button>
    </div>
  </div>
  <nav>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Questions</a></li>
      <li><a href="#">Tags</a></li>
      <li><a href="#">Users</a></li>
    </ul>
  </nav>
</div>
