<!-- <label class="switch">
  <input type="checkbox" (change)="toggleDarkMode()">
  <i class="fa-thin fa-toggle-on"></i>
  <span class="slider round"></span>
</label> -->
<!-- <span class="toggle-switch">
  <input type="checkbox" (change)="toggleDarkMode()" id="dark-mode-toggle" class="dmchecker">
  <label for="dark-mode-toggle" class="tgl-btn">
    <span class="tgl-btn-cvr"></span>
    <span class="tgl-btn-vt"></span>
  </label>
</span> -->

<input id="s1" type="checkbox" (change)="toggleDarkMode()" class="switch">
<label for="s1">Dark mode</label>

