
<div class="w-full p-2">
  <table w-full mat-table [dataSource]="cartItems.length ? cartItems : []"
    class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="checkbox">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox (change)="onCheckBoxCheck($event,element.id)"></mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit price </th>
      <td mat-cell *matCellDef="let element"> {{element.unitPrice}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="increaseQuantity(element)">+</button>
        <!-- {{element.quantity}} -->
        <input class="w-20 text-center" type="number" [(ngModel)]="element.quantity">
        <button (click)="decreaseQuantity(element)">-</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="totalPrice" class="total-price-column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price</th>
      <td mat-cell *matCellDef="let element" class="fixed-width">
        {{element.totalPrice}}
      </td>
    </ng-container>

    <ng-container matColumnDef="delete" class="total-price-column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element" class="w-20">
        <i class="fa fa-trash" (click)="deleteItems(element.id)"></i>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="text-center w-full py-3" *ngIf="cartItems?.length == 0">
    <i class="text-md text-rose-400">{{'Your cart is empty' | translate}}</i>
  </div>

  <div class="mat-elevation-z8 flex justify-between items-center">
    <!-- Checkbox để chọn xóa -->
  <mat-checkbox class="delete-checkbox flex items-center" (change)="onDeleteCheckboxChange($event)">
    <span class="ml-2 mt-4">Select all ({{cartItems.length}})</span>
  </mat-checkbox>

  <!-- Biểu tượng thùng rác để xóa tất cả -->
  <button (click)="clearCart()">
    <i class="fa fa-trash"></i>delete all
  </button>
  <!-- <span class="total-price">Total {{sumaryTotalPrice() | currency}}</span> -->
  <!-- <span class="lazada lazada-ic-Delete lazada-icon icon icon-delete" data-spm-anchor-id="a2o42.cart.0.i5.5c936f26tjm4on"></span> -->
  <!-- <span
    class="flex items-center gap-2 p-2 text-white bg-red-500 rounded-lg cursor-pointer hover:bg-red-600 transition">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h6m2 0a9 9 0 11-18 0 9 9 0 0118 0zm-2 0h-2.5m-5 0H7m4-7h2m-2 0v4m0 4v4" />
    </svg>
    <span>Delete</span>
  </span> -->
  </div>
  <!-- <div class="mat-elevation-z8">
    Total {{cartItems.length}} items : {{sumaryTotalPrice() | currency}}
  </div> -->

  <div class="bg-blue-100 p-4 rounded-lg shadow-md text-blue-900 text-2xl font-semibold">
    Total <span class="text-blue-600 font-bold">{{ cartItems.length }}</span> items :
    <span class="text-green-600 font-bold">{{ sumaryTotalPrice() | currency }}</span>
  </div>

  <button (click)="goToCheckout()" class="p-3 mt-4">Check Out</button>

</div>

<a unselectable="unselectable" class="next-number-picker-handler next-number-picker-handler-up " data-spm-anchor-id="a2o42.cart.0.0"><span unselectable="unselectable" class="next-number-picker-handler-up-inner"><i class="next-icon next-icon-add next-icon-medium" data-spm-anchor-id="a2o42.cart.0.i5.3cde5d0aVetfkI"></i></span></a>
