<div class="footer-top section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Single Widget -->
        <div class="single-footer about">
          <div class="logo">
            <a href="#"><img src="assets/logo/logo.png" alt="#"
                class="w-1/4 h-auto"></a>
          </div>
          <a href="http://online.gov.vn/Home/WebDetails/75590"
            target="_blank"><img alt
              src="http://online.gov.vn/Content/EndUser/LogoCCDVSaleNoti/logoSaleNoti.png"><img
              alt src="/vnt_upload/File/logoSaleNoti.png"
              style="width: 250px; height: 95px;"></a>
          <p class="text">Praesent dapibus, neque id cursus ucibus, tortor neque
            egestas augue, magna eros eu erat. Aliquam erat volutpat. Nam dui
            mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
          <p class="call">Got Question? Call linh us 24/7<span><a
                href="tel:123456789">+0123 456 789</a></span></p>
        </div>
        <!-- End Single Widget -->
      </div>
      <div class="map-container w-[300px] h-auto col-lg-3 col-md-6 col-12">
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.835434509374!2d144.9630579153169!3d-37.8141079797517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0xf577d9c8b1b1b1b1!2sGoogle!5e0!3m2!1sen!2sau!4v1611816751234!5m2!1sen!2sau"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe> -->
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d973.2036877287809!2d108.10636894683772!3d12.660148070077582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3171f78a40acb359%3A0x74267727b37bf29a!2zMzEgTmd1eeG7hW4gVGjDoWkgQsOsbmgsIEhvw6AgVGjhuq9uZywgVGjDoG5oIHBo4buRIEJ1w7RuIE1hIFRodeG7mXQsIMSQ4bqvayBM4bqvaywgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1721487704749!5m2!1sen!2s"
          width="300" height="200" style="border:0;" allowfullscreen
          loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
      <div class="col-lg-2 col-md-6 col-12">
        <!-- Single Widget -->
        <div class="single-footer links">
          <h4>Information</h4>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Faq</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
        <!-- End Single Widget -->
      </div>
      <div class="col-lg-2 col-md-6 col-12">
        <!-- Single Widget -->
        <div class="single-footer links">
          <h4>Customer Service</h4>
          <ul>
            <li><a href="#">Payment Methods</a></li>
            <li><a href="#">Money-back</a></li>
            <li><a href="#">Returns</a></li>
            <li><a href="#">Shipping</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
        <!-- End Single Widget -->
      </div>
      <div class="col-lg-2 col-md-6 col-12">
        <!-- Single Widget -->
        <div class="single-footer social">
          <h4>Get In Tuch</h4>
          <!-- Single Widget -->
          <div class="contact">
            <ul>
              <li>NO. 342 - London Oxford Street.</li>
              <li>012 United Kingdom.</li>
              <li>therichpost.com</li>
              <li>+111 1111 1111</li>
            </ul>
          </div>
          <!-- End Single Widget -->
          <ul>
            <li><a href="https://www.facebook.com/tnl2112" target="_blank"
                rel="noopener noreferrer"><i class="ti-facebook"></i></a></li>
            <li><a href="#"><i class="ti-twitter"></i></a></li>
            <li><a href="#"><i class="ti-flickr"></i></a></li>
            <li><a href="#"><i class="ti-instagram"></i></a></li>
          </ul>
        </div>
        <!-- End Single Widget -->
      </div>

    </div>
  </div>
</div>
<!-- End Footer Top -->
<div class="copyright">
  <div class="container">
    <div class="inner">
      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="left">
            <p>Copyright © 2024 <a href="https://therichpost.com"
                target="_blank">Jassa</a> - All Rights Reserved.</p>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="right">
            <img src="assets/images/payments.png" alt="#">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
